<!--入门说明 http://nlog-project.org/wiki/Tutorial -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogToConsole="true"
      internalLogLevel="Error"
      internalLogFile="/NLog/NLogErrInfo.txt"
      throwExceptions="false">
  <variable name="logDir" value="${basedir}/Logs/${shortdate}" />
  <variable name="archiveDir" value="${basedir}/Archives/${shortdate}" />
  <variable name="logInfo2Consloe" value="${message}"/>
  <variable name="logInfo" value="${longdate}|${level:uppercase=true}|${message}"/>
  <!--日志对象说明 http://nlog-project.org/wiki/Targets -->
  <targets>
    <default-wrapper xsi:type="AsyncWrapper"
                     queueLimit="10000"
                     timeToSleepBetweenBatches="50"
                     batchSize="100"
                     overflowAction="Discard">
      <wrapper-target xsi:type="RetryingWrapper"
                      retryDelayMilliseconds="100"
                      retryCount="5" />
    </default-wrapper>
    <!--布局说明 http://nlog-project.org/wiki/Layouts -->
    <target xsi:type="ColoredConsole"
            name="consoleOutput"
            layout="${logInfo2Consloe}"/>
    <target xsi:type="File"
            name="simpleFileLog"
            fileName="${logDir}/simpleFileLog.txt"
            layout="${logInfo}"
            lineEnding="CRLF" />
    <target xsi:type="File"
            name="fullFileLog"
            fileName="${logDir}/fullLogInfo.txt"
            layout="${logInfo}"
            lineEnding="CRLF" />
    <target xsi:type="File"
            name="fileLog"
            fileName="${logDir}/logInfo_${level}.txt"
            layout="${logInfo}"
            lineEnding="CRLF" />
    <target xsi:type="File"
            name="fileLogsSeparateBySize"
            fileName="${logDir}/logInfo_${level}.txt"
            layout="${logInfo}"
            lineEnding="CRLF"
            archiveFileName="${archiveDir}/logInfo_${level}_{###}.txt"
            archiveAboveSize="10485760"
            archiveNumbering="Rolling"
            maxArchiveFiles="100" />
    <target xsi:type="File"
            name="fileLogsSeparateByHour"
            fileName="${logDir}/logInfo_${level}.txt"
            layout="${logInfo}"
            lineEnding="CRLF"
            archiveFileName="${archiveDir}/logInfo_${level}_{##}.txt"
            archiveEvery="Hour"
            archiveNumbering="Rolling"
            maxArchiveFiles="24" />
    <target xsi:type="File"
            name="csvLog"
            fileName="${logDir}/logInfo.csv">
      <layout xsi:type="CsvLayout">
        <column name="logger" layout="${logger}" />
        <column name="message" layout="${message}" />
        <column name="level" layout="${level}"/>
        <column name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fffffff}" />
      </layout>
    </target>
    <target xsi:type="File"
            name="csvLogsSeparateBySize"
            fileName="${logDir}/logInfo.csv"
            archiveFileName="${archiveDir}/logInfo_{###}.csv"
            archiveAboveSize="10485760"
            archiveNumbering="Rolling"
            maxArchiveFiles="100">
      <layout xsi:type="CsvLayout">
        <column name="logger" layout="${logger}" />
        <column name="message" layout="${message}" />
        <column name="level" layout="${level}"/>
        <column name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fffffff}" />
      </layout>
    </target>
    <target xsi:type="File"
            name="csvLogsSeparateByHour"
            fileName="${logDir}/logInfo.csv"
            archiveFileName="${archiveDir}/logInfo_{##}.csv"
            archiveEvery="Hour"
            archiveNumbering="Rolling"
            maxArchiveFiles="24">
      <layout xsi:type="CsvLayout">
        <column name="logger" layout="${logger}" />
        <column name="message" layout="${message}" />
        <column name="level" layout="${level}"/>
        <column name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fffffff}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" writeTo="consoleOutput" minlevel="Trace" />
    <logger name="*" writeTo="simpleFileLog" levels="Trace, Info, Warn, Error, Fatal" />
    <logger name="*" writeTo="fullFileLog" minlevel="Trace" />
    <!--<logger name="*" writeTo="fileLogsSeparateBySize" />
    <logger name="*" writeTo="csvLog" />-->
    <!--<logger name="*" writeTo="file">
      --><!--过滤器使用说明 http://nlog-project.org/wiki/Filters --><!--
      <filters>
        --><!--条件使用说明 http://nlog-project.org/wiki/Conditions --><!--
        <when condition="length(message) > 100" action="Ignore" />
        <when condition="equals('${logger}','MyApps.SomeClass')" action="Ignore" />
        <when condition="(level >= LogLevel.Debug and contains(message,'PleaseDontLogThis')) or level==LogLevel.Warn" action="Ignore" />
        <when condition="not starts-with('${message}','PleaseLogThis')" action="Ignore" />
      </filters>
    </logger>-->
  </rules>
</nlog>