<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Libs;Modules"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ListenHost" value="0.0.0.0" />
    <add key="ListenPort" value="23333" />
    <add key="ForwardingHost" value="192.168.31.230" />
    <add key="ForwardingPort" value="23333" />
  </appSettings>
</configuration>
