<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogToConsole="true"
      internalLogLevel="Error"
      internalLogFile="/NLog/NLogErrInfo.txt"
      throwExceptions="false">
  <variable name="logDir" value="${basedir}/Logs" />
  <variable name="journalsDir" value="${logDir}/Journals" />
  <variable name="classificationDir" value="${logDir}/${level:uppercase=true}" />
  <variable name="snapshotsDir" value="${logDir}/Snapshots/${logger}" />
  <variable name="separator" value="-----------------------------------------------------------------------------" />
  <variable name="header" value="${newline}${level:uppercase=true} ${longdate} [${logger}]${newline}${separator}${newline}" />
  <variable name="footer" value="${newline}${separator}${newline}" />
  <variable name="logInfo" value="${header}${message}${newline}${exception:format=tostring}${footer}"/>
  <targets>
    <default-wrapper xsi:type="AsyncWrapper"
                     queueLimit="10000"
                     timeToSleepBetweenBatches="50"
                     batchSize="100"
                     overflowAction="Discard">
      <wrapper-target xsi:type="RetryingWrapper"
                      retryDelayMilliseconds="100"
                      retryCount="5" />
    </default-wrapper>
    <target xsi:type="ColoredConsole"
            name="consoleOutput"
            layout="${logInfo}"/>
    <target xsi:type="File"
            name="journalsLog"
            fileName="${journalsDir}/RunningLog_000.txt"
            layout="${logInfo}"
            lineEnding="None"
            archiveFileName="${journalsDir}/RunningLog_{###}.txt"
            archiveAboveSize="10485760"
            archiveNumbering="Rolling"
            maxArchiveFiles="100" />
    <target xsi:type="File"
            name="classificationLog"
            fileName="${classificationDir}/${shortdate}.log"
            layout="${logInfo}"
            lineEnding="None" />
    <target xsi:type="File"
            name="snapshotsLog"
            fileName="${snapshotsDir}/SnapshotsLog_000.txt"
            layout="${logInfo}"
            lineEnding="None"
            archiveFileName="${snapshotsDir}/SnapshotsLog_{###}.txt"
            archiveAboveSize="10485760"
            archiveNumbering="Rolling"
            maxArchiveFiles="100" />
  </targets>
  <rules>
    <logger name="*" writeTo="consoleOutput" minlevel="Trace" />
    <logger name="*" writeTo="journalsLog" minlevel="Trace" />
    <logger name="*" writeTo="classificationLog" minlevel="Warn" />
    <logger name="UCanSoft.PortForwarding.Tcp2Udp.Core.ConnectorHandler.SessionId.*" writeTo="snapshotsLog" minlevel="Debug" />
    <logger name="UCanSoft.PortForwarding.Udp2Tcp.Core.AcceptorHandler.SessionId.*" writeTo="snapshotsLog" minlevel="Debug" />
  </rules>
</nlog>