<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Libs;Modules"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ProxyHost" value="127.0.0.1"/>
    <add key="ProxyPort" value="23333"/>
    <add key="ListenHost" value="0.0.0.0" />
    <add key="ListenPort" value="23337" />
    <add key="Message" value="" />
    <add key="MessageFile" value="D:\TDDownload\Software\code_1.28.2-1539735992_amd64.deb" />
    <!--<add key="MessageFile" value="C:\Users\UCan927\Desktop\DSK.txt" />-->
    <add key="SavePath" value=".\Save.data" />
  </appSettings>
</configuration>
